
body {
  font-family: 'Poppins', sans-serif;
  background-color: #fafafa;
  color: #333;
  line-height: 1.6;
    margin: 0;
  padding: 0;
   
}

.hero {
        width: 116%;
  height: 61vh;
  background-size: cover;
  background-position: center;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  
}

p {
  margin: 20px;
}

    
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  margin-bottom: 14px;
    display: block;
}
h1::after,
h2::after,
h3::after,
h4::after,
h5::after,
h6::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #ff9800;
  margin-top: 8px;
}


.logo {
    width: 229px;
      display: block;
  margin: 0 auto;
    
}

.footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 30px 20px;
  margin-top: 60px;
}

.footer a {
  color: #ff9800;
  text-decoration: none;
  margin: 0 8px;
}

.cookies {
   width: 127px;
 
}
.title-block {
  display: flex;
  align-items: center; 
  gap: 15px;           
}
.gateau {
   width: 140px;
 
}
.title-block {
  display: flex;
  align-items: center; 
  gap: 15px;           
}
.pates {
   width: 140px;
 
}
.title-block {
  display: flex;
  align-items: center; 
  gap: 15px;           
}
.gratin{
   width: 140px;
 
}
.title-block {
  display: flex;
  align-items: center; 
  gap: 15px;           
}